.cls-test {
  width: 400px;
  height: 150px;
  border: 1px solid black;
}


#name-div {
  width: 300px;
  height: 100px;
  border: 1px solid black;
}


[target-div="css-div"] {
  width: 200px;
  height: 200px;
  border: 1px solid black;
}


[target-div="css-div"]>div {
  height: 50%;
}


[target-div="css-div"]>div:first-child {
  background-color: pink;
}


[target-div="css-div"]>div:last-child {
  background-color: yellow;
}

.chatting {
  position: relative;
  width: 300px;
  height: 400px;
  border: 1px solid black;
  box-sizing: border-box;
  background-color: skyblue;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: 5px;
}

#chatting-input {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;
  width: 100%;
}

#chatting-input input{
  flex-basis: 86%;
}

#chatting-input button{
  flex-basis: 14%;
}

.chatting span{
  border: 0px solid black;
  background-color: yellow;
  height: auto;
  width: auto;
  border-radius: 8px;
  padding: 3px 8px;
  margin-bottom: 5px;
}