* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: auto;
  border: 0px solid black;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.box {
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box > input {
  width: 100%;
  height: 100%;
}

.control {
  justify-content: center;
  align-items: center;
}

.a, .b, .c, .d, .e, .f, .g{
  
  justify-content: center;
}



