* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* 메인 영역 폭 조절 */
main {
  max-width: 1200px;
  margin: 0 auto;
}

/* 헤더 전체 */
.site-header {
  position: sticky;
  top: 0;
  background-color: white;
}

.site-header .container {
  max-width: 1200px;
  height: 80px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* 로고 */
#home-logo {
  height: 50px;
  display: block;
}

/* 네비게이션 */
nav.center ul {
  display: flex;
  align-items: center;
  gap: 28px;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav.center a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: black;
}

/* 버튼 */
#download-btn {
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  border: 0;
  padding: 8px 12px;
  border-radius: 8px;
  background-color: darkorange;
  color: white;
}

/* 검색창 */
.search-area {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* 검색폼 전체 */
.search-form {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 5px 10px;
  width: 1050px;
  background-color: white;
}

/* 동네 버튼 */
.loc-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  background-color: #ccc;
  color: black;
  border-radius: 30px;
  padding: 6px 14px;
  font-size: 14px;
  cursor: pointer;
  margin-right: 8px;
}

.select-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  background-color: white;
  color: gray;
  border-radius: 30px;
  padding: 6px 14px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  margin-right: 8px;
}

/* 입력창 */
#search-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 15px;
  color: black;
}

/* 검색 버튼 */
#search-btn {
  border: none;
  background-color: darkorange;
  color: white;
  font-size: 20px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}

/* 인기 검색어 */
.popular-keywords {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 16px;
  justify-content: flex-end;
  margin-top: 10px;
  font-size: 17px;
  color: gray;
}

.popular-keywords span {
  color: #ccc;
  font-weight: 500;
}

.popular-keywords a {
  text-decoration: none;
  color: gray;
}


